// button
// ===

// Configurable Variables
// ---

//Button Styles
//---

// Dependencies
// ---

@import 'stencil-variables/variables';
@import 'level/level';

// Button root
// ---

.c-button {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    min-height: $tap-size;
    appearance: none;
    cursor:pointer;
    background: none;
    border: 0;
    font: inherit;
    color: inherit;
    font-family:inherit;
    text-decoration: none;
    line-height: normal;
    white-space: normal;
    outline:none;
    user-select:none;
    -webkit-appearance: none;

    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        content: '';
    }

    &:disabled,
    &.c--is-disabled{
        opacity: 0.6;
        pointer-events:none;
    }
}
//Button Span
// this element is what is visible, as it allows us to have
// visible content less then the min tap size.

.c-button > span{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: $input-visible-height;
}


